<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>趣酷科技有限公司</title>
	<link rel="stylesheet" type="text/css" href="css/quku.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<style>
		.mid1 div{
			width: 100%;
			height: 900px;
			min-width: 1200px;
			background: url(img/lunbo1.jpg) no-repeat center;
			background-size:100% 900px;
			/*overflow: hidden;*/
			position: absolute;
			top:900px;
			left:0;
			float: left;
		}
	</style>
	
</head>
<body>
	<div class="nav">
		<div class="top">
			<h1 class="logo">
				<a href="#"></a>
			</h1>
			<ul>
				<li><a href="#">首页<br><span style="left:35px;width:30px"></span></a></li>
				<li><a href="#">趣酷动态<br><span></span></a></li>
				<li><a href="#">趣酷出品<br><span></span></a></li>
				<li><a href="#">关于我们<br><span></span></a></li>
				<li><a href="../招聘/人才招聘.html">人才招聘<br><span></span></a></li>
				<li><a href="#">联系我们<br><span></span></a></li>
			</ul>
			<div class="login">
				<a href="#" class="dl" id="dl">登录</a>
				<a href="#" class="zc" id="zc">注册</a>
				<a href="#">充值</a>
			</div>
		</div>
	</div>
	<div class="mid1" id="mid1"></div>
	<div class="title">旗下平台</div>
	<div class="platform">
		<div class="content">
			<p class="left">
				酷狗游戏成立于2000年，秉承“做更懂你的游戏平台” 理念，一跃成为国内领先网页游戏平台。酷狗游戏汇集业界主流精品页游于一身，更凭借“支持多账号一键登录、安全稳定、体验一流的游戏盒”，迅速吸引全球上亿用户，深受广大玩家青睐。 
			</p>
			<p class="right">
				酷我游戏作为国内知名大型网页游戏平台，与酷狗游戏优势互补，相得益彰。平台运营产品多达数万款，包揽角色扮演、棋牌娱乐、休闲竞技，战争策略多种游戏类型。酷我坚持全平台游戏免注册、鼓励玩家轻松尝试，想玩就玩 ，来一次说玩就玩的游戏体验。 
			</p>
		</div>
		<div class="number">
					<div class="count"></div>
					<script id="count-template" type="text/template">
					 <span class="current top <%= currentSize %>"><%= time %></span>
					 <span class="next top <%= nextSize %>"><%= nextTime %></span>
					 <span class="current bottom <%= currentSize %>"><%= time %></span>
					 <span class="next bottom <%= nextSize %>"><%= nextTime %></span>
					</script>

					<div class="count2"></div>
					<script id="count-template2" type="text/template">
					 <span class="current top <%= currentSize %>"><%= time %></span>
					 <span class="next top <%= nextSize %>"><%= nextTime %></span>
					 <span class="current bottom <%= currentSize %>"><%= time %></span>
					 <span class="next bottom <%= nextSize %>"><%= nextTime %></span>
					</script>

					<div class="count3"></div>
					<script id="count-template3" type="text/template">
					 <span class="current top <%= currentSize %>"><%= time %></span>
					 <span class="next top <%= nextSize %>"><%= nextTime %></span>
					 <span class="current bottom <%= currentSize %>"><%= time %></span>
					 <span class="next bottom <%= nextSize %>"><%= nextTime %></span>
					</script>
					
		</div>
	</div>

<div class="title">旗下产品</div>
	<div class="product">
		<div class="controll">
			<button class="left-btn"><<<</button>
			<button class="right-btn">>>></button>
		</div>
		<div class="box">
			<ul>
				<li>
					<img src="img/images/1.png" alt="">
				</li>
				<li>
					<img src="img/images/2.png" alt="">
				</li>
				<li>
					<img src="img/images/3.png" alt="">
				</li>
				<li>
					<img src="img/images/4.png" alt="">
				</li>
				<li>
					<img src="img/images/4.jpg" alt="">
				</li>
			</ul>
		</div>
	</div>
	<div class="title">趣酷优势</div>
	<div class="wrapper">
		<div class="auto">
			<ul>
				<li>
					<div class="one_center"></div>
					<div class="one_turn"></div>
					<div class="text">
						<h2>自研3D引擎</h2>
						<p>渲染流畅，精细度高，性能强悍</p>
					</div>
				</li>
				<li>
					<div class="two_center"></div>
					<div class="two_turn"></div>
					<div class="text">
						<h2>研运一体化</h2>
						<p>研发运营互为助力，共铸精品</p>
					</div>
				</li>
				<li>
					<div class="three_center"></div>
					<div class="three_turn"></div>
					<div class="text">
						<h2>专业商务团队</h2>
						<p>精准渠道导量，国际化发行体系</p>
					</div>
				</li>
				<li>
					<div class="four_center"></div>
					<div class="four_turn"></div>
					<div class="text">
						<h2>互联网泛娱乐化战略</h2>
						<p>精品页游、音乐、直播流量深度合作</p>
					</div>
				</li>
			</ul>
			<div class="brief">
				<p>
				 《剑灵-洪门崛起》是由趣酷在韩国NCSoft公司的大型端游《剑灵》的基础上，与腾讯联合研发的3D即时战斗微端网游，以《剑灵》的游戏剧情为蓝本，进行了全新的剧情扩展和二次创作，让玩家置身于熟悉的世界里体验不一样的故事。
				 <br>
				《剑灵-洪门崛起》极大简化了《剑灵》端游的繁复操作，降低了玩家的上手难度，完美还原了《剑灵》畅快的战斗体验和游戏乐趣，并且基于微端+Web的自身特色开创性地加入了大量特色系统和新的交互玩法，相信它不仅能让《剑灵》老玩家在游戏中碰撞出新火花，也会对从未接触过《剑灵》的新玩家充满着吸引力
				</p>
				<div class="video">
					<div class="video_bg"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="title">合作伙伴</div>
	<div class="partner">
		<div class="auto">
			<div class="box">
				<div style="margin-left: 50px"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div id="indexpartner">
				<div class="negative">
					<img src="img/d1c.png" class="front front1">
					<img src="img/07b.png" class="back back1" >
				</div>
				<div class="negative">
					<img src="img/60d.png" class="front front2">
					<img src="img/401.png" class="back back2">
				</div>
				<div class="negative">
					<img src="img/264.png" class="front front2">
					<img src="img/76d.png" class="back back2">
				</div>
				<div class="negative">
					<img src="img/785.png" class="front front3">
					<img src="img/e23.png" class="back back3">
				</div>
				<div class="negative" style="margin-right: 0px">
					<img src="img/00e.png" class="front front4">
					<img src="img/a4b.png" class="back back4">
				</div>
			</div>
			<div class="partnerbtn" id="partnerbtn">
				<a href="#" class="btnshow"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="auto">
			<div class="footlogo">
				<img src="img/qukulogo-red.png">
			</div>
			<div class="foottext">
				<p>
					<a href="#">联系我们</a><span>|</span>
					<a href="#">下载中心</a><span>|</span>
					<a href="#"> 招贤纳士</a><span>|</span>
					<a href="#">法律声明</a><span>|</span>
					<a href="#">设为首页</a><span>|</span>
					<a href="#">收藏本站</a><span>|</span>
					<a href="#">家长监护</a>
				</p>
				<p>北京趣酷科技有限公司 京ICP备16017027号-2
				<a href="#">
					<img src="img/police.png">
					京公网安备 11010702001490号
				</a>
				京网文[2016] 1766-226号
				</p>
				<p>
					Copyright © 2016-2016 北京趣酷科技有限公司.All right reserved 
				</p>
				<p>
					地址：北京市石景山区鲁谷路74号 中国大厦22层 电话：010-68608366 
				</p>
				<p>
					健康游戏忠告：抵制不良游戏拒绝盗版游戏 注意自我保护谨防受骗上当 适度游戏益脑 沉迷游戏伤身合理安排时间 享受健康生活
				</p>
			</div>
		</div>
	</div>
	<div id="cover"></div>
	<div id="dl_box">
		<div class="head">
					登录
			<span></span> 
		</div>
		<input type="text" name="" placeholder="账号">
		<input type="password" placeholder="密码" name="">
		<input type="button" value="登录" name="" class="btn">
	</div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
		var styleData = [
			{
				rotateY:35,
				translateX:-400,
				translateZ:-400,
				zIndex:555
			},
			{
				rotateY:35,
				translateX:-300,
				translateZ:-300,
				zIndex:666
			},
			{
				rotateY:35,
				translateX:-200,
				translateZ:-200,
				zIndex:777
			},
			{
				rotateY:35,
				translateX:-100,
				translateZ:-100,
				zIndex:888
			},
			{
				rotateY:0,
				translateX:0,
				translateZ:0,
				zIndex:999
			},
			{
				rotateY:-35,
				translateX:100,
				translateZ:-100,
				zIndex:888
			},
			{
				rotateY:-35,
				translateX:200,
				translateZ:-200,
				zIndex:777
			},
			{
				rotateY:-35,
				translateX:300,
				translateZ:-300,
				zIndex:666
			},
			{
				rotateY:-35,
				translateX:400,
				translateZ:-400,
				zIndex:555
			}
		];	
		var current = 2;
		var lock=true;
		setStyle();
		// 左走
		$(".left-btn").click(function(){
			if (!lock) {
				return;
			}
			current++;
			if (current > 4){
				current = 0;
			}			
			setStyle();
		})
		// 右走
		$(".right-btn").click(function(){
			if (!lock) {
				return;
			}
			current--;
			if (current < 0){
				current = 4;
			}
			setStyle();
		});
		// 封装
		function setStyle(){
			lock=false;
			var reallyArry = styleData.slice(current,current+5);
			$(".product .box ul li").each(function(index){
				$(this).css({
					"transform":"rotateY("+reallyArry[index].rotateY+"deg) "+"translateX("+reallyArry[index].translateX+"px) "+"translateZ("+reallyArry[index].translateZ+"px)",
					"zIndex":reallyArry[index].zIndex
				});
			})
			setTimeout(function(){
				lock=true;
			},600)
		}



		var mid1 = document.getElementById('mid1');
		var str = "";
		for(var i = 0;i<1000;i++){
			// $("body").append("<div></div>");
			str+="<div></div>";
		}
		$("#mid1").html(str);
		// var date2 = new Date();
		// console.log(date2-date1);
		$("#mid1 div").each(function(index){
			$(this).css({"backgroundPosition":-index%10*1000+"px "+(-parseInt(index/10)*30)+"px"})
			.delay(index*10)
			.animate({
				"left":index%10*1000,
				"top":parseInt(index/10)*30
			},1500)
		})
	</script>

</html>